<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" monitorInterval="30">
	<appenders>
		<console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%d{yyyy-MM-dd HH:mm:ss} %highlight{%-5p}] --- [%t] --- %style{%c}{Magenta}:%style{%L}{Cyan} : %m%n"/>
		</console>

		<File name="log" fileName="logs/console.log" append="false">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss} %-5p] [%t] (%c:%L) - %m%n"/>
		</File>

		<RollingFile name="RollingFileInfo" fileName="logs/info.log"
					 filePattern="logs/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log.gz">
			<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss} %-5p] [%t] (%c:%L) - %m%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy/>
				<SizeBasedTriggeringPolicy size="100 MB"/>
			</Policies>
		</RollingFile>

		<RollingFile name="RollingFileWarn" fileName="logs/warn.log"
					 filePattern="logs/$${date:yyyy-MM}/warn-%d{yyyy-MM-dd}-%i.log.gz">
			<ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss} %-5p] [%t] (%c:%L) - %m%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy/>
				<SizeBasedTriggeringPolicy size="100 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="20"/>
		</RollingFile>

		<RollingFile name="RollingFileError" fileName="logs/error.log"
					 filePattern="logs/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log.gz">
			<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss} %-5p] [%t] (%c:%L) - %m%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy/>
				<SizeBasedTriggeringPolicy size="100 MB"/>
			</Policies>
		</RollingFile>
	</appenders>

	<loggers>
		<logger name="com.flink.platform.dao.mapper" level="info"/>
		<Root level="info">
			<AppenderRef ref="log"/>
			<AppenderRef ref="Console"/>
			<AppenderRef ref="RollingFileInfo"/>
			<AppenderRef ref="RollingFileWarn"/>
			<AppenderRef ref="RollingFileError"/>
		</Root>
	</loggers>
</configuration>
